extends layout

block content
  h1 Acknowledgements
  p This site woudln't be possible without the following things.

  table.table.table-hover.table-striped.table-bordered
    thead
      th Thing
      th Link
    tbody
      tr
        td Node.js
        td 
          a(href='https://nodejs.org') https://nodejs.org
      tr
        td Express
        td 
          a(href='http://expressjs.com/') http://expressjs.com/
      tr
        td Jade
        td 
          a(href='http://jade-lang.com/') http://jade-lang.com/
      tr
        td Bootstrap
        td 
          a(href='http://getbootstrap.com/') http://getbootstrap.com/
      tr
        td Require.js
        td 
          a(href='http://requirejs.org/') http://requirejs.org/
      tr
        td Visual Studio Community
        td 
          a(href='https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx') https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx
      tr
        td Node.js Tools for Visual Studio
        td 
          a(href='https://www.visualstudio.com/en-us/features/node-js-vs.aspx') https://www.visualstudio.com/en-us/features/node-js-vs.aspx
      tr
        td GitHub
        td 
          a(href='https://github.com') https://github.com
      tr
        td Promises
        td 
          a(href='https://www.promisejs.org/') https://www.promisejs.org/
      tr
        td Stylus
        td 
          a(href='https://github.com/stylus/stylus') https://github.com/stylus/stylus
      tr
        td jQuery
        td 
          a(href='https://jquery.org/') https://jquery.org/
      tr
        td jQuery validate
        td 
          a(href='http://jqueryvalidation.org/') http://jqueryvalidation.org/
      tr
        td jQuery validate unobtrusive
        td  
          a(href='https://github.com/aspnet/jquery-validation-unobtrusive') https://github.com/aspnet/jquery-validation-unobtrusive
      tr
        td Modernizr
        td 
          a(href='https://modernizr.com/') https://modernizr.com/
      tr
        td Modernizr
        td 
          a(href='https://modernizr.com/') https://modernizr.com/
      tr
        td Respond.js
        td 
          a(href='https://github.com/scottjehl/Respond') https://github.com/scottjehl/Respond
      tr
        td Darkly 
        td 
          a(href='https://bootswatch.com/darkly/') https://bootswatch.com/darkly/
      tr
        td Lato fonts
        td 
          a(href='http://www.latofonts.com/lato-free-fonts/') http://www.latofonts.com/lato-free-fonts/