extends layout

block content
  .jumbotron
    h1 Can I reach?
    p.lead Easy testing of common blocked sites by Internet Service Providers.
  .row
    .col-md-4
      h2 See the list
      p If you just want to see the list of common blocked sites.
      p
        a.btn.btn-default(href='/list') list
    .col-md-4
      h2 Test the list
      p Participate by testing if you can see some common blocked sites.
      p
        a.btn.btn-default(href='/test') test
    .col-md-4
      h2 Acknowledgements
      p A few acknowledgements.
      p
        a.btn.btn-default(href='/ackn') ackn