extends layout

block content
  .jumbotron
    h1 Can I reach?
    p.lead Can I reach the most common blocked sites in my country/region?
  .row
    .col-md-6
      h2 Blocked sites
      p Just wan't to see the list of most common blocked sites?
      p
        a.btn.btn-default(href='/list') The list
    .col-md-6
      h2 Can I really reach it?
      p Let me test the must common blocked sites automagically.
      p
        a.btn.btn-default(href='/test') Test