extends layout

block content
  .h1 Start the test
    p
      button.btn.btn-lg.btn-primary(id='start') Start

  table.table(id='results')
    thead
      th logo
      th domain
      th status
    tbody