extends layout

block content
  .h1 Test the list
    p
      button.btn.btn-lg.btn-primary(id='start') Start testing

  table.table.table-hover.table-striped.table-bordered(id='results')
    thead
      th Logo
      th Site
      th Test Result
    tbody